PORT={YOUR_APPLICATION_PORT}
HOST={YOUR_APPLICATION_HOST}

DBUSER={YOUR_DB_USER}
DBPASS={YOUR_DB_PASS}
DBHOST={YOUR_DB_HOST}
DBPORT={YOUR_DB_PORT}
DBNAME={YOUR_DB_NAME}

JWT_KEY={YOUR_JWT_KEY}
JWT_ISSUER={YOUR_JWT_ISSUER}

RDB_HOST={YOUR_REDIS_HOST}
RDB_PORT={YOUR_REDIS_PORT}
RBD_USER={YOUR_REDIS_USER}
RDB_PASS={YOUR_REDIS_PASS}